.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  transition: 0.4s;
  font: 30px ;
  font-family: 'Work Sans', sans-serif;
  margin-right: 0px;
  border-color: white;
  border-radius: 18px;
  font-size: 24px;
  margin-bottom: 3%;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: white;
  color: black;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  margin-left: 18%;
  margin-right: 2%;
  transition: max-height 10s ease-out;
  margin-bottom: 3%;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

ul#ul_accordion{
  list-style: none;
}
ul#ul_accordion li:not(:last-child) {
  margin-bottom: 5px;
}

ul#juke img{
width: 100px;
height:100px;
-webkit-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
}

ul#juke li{
display:inline;
list-style:none;
text-align: center;
margin-left: 4em;
}
.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
color: white;
}

.myButton {
background-color:#000000;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:10px;
padding:7px 22px;
border-radius: 18px;
}
.myButton:hover {
background-color:#ffffff;
color: black;
}
.myButton:active {
position:relative;
top:1px;
}

@media (max-width:500px){
  ul#juke li{
      display: vertical;
     list-style:none;
     margin-left: 0;
  }
   .container{
       margin: 3em 3em 3em 3em;

  }
  #header{
  font-size: 35px;
  }

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 55%;
  border-radius: 5px;
  margin-top: 4%;
  margin-left: 23%;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}


