{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Story8</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<style>
  body {
  background: url("/static/css/story7_final.jpg") no-repeat center fixed;
  background-size: cover;
  }
</style>
<body>
  <div class = "card">
  <div class = "container">
    <h1 style="text-align: center;margin-bottom: 5%;text-decoration: line-through;">//Accordion//</h1>
  </div>
  <div class = "container">
  <ul class="ul_accordion" style="list-style: none;">
      <li>
        <a onclick="up()" class="myButton">UP</a> <a onclick="down()" class="myButton">DOWN</a>

  <!--        <button  onclick="up()" type="button" class="up_button">up</button> <button onclick="down()" type="button" class="down_button">down</button>-->

  <button class="accordion"><b>Kegiatan saat ini</b></button>
  <div class="panel">
    <p>-Learn adobe illustrator</p>
    <p>-Learn adobe after effect</p>
    <p>-Learn photoshop</p>
  </div>
  </li>
  <li>
  <a onclick="up()" class="myButton">UP</a> <a onclick="down()" class="myButton">DOWN</a>

  <!--        <button  onclick="up()" type="button" class="up_button">up</button> <button onclick="down()" type="button" class="down_button">down</button>-->
  <button class="accordion"><p><b>Pengalaman organisasi/kepanitiaan</b></p></button>
    <div class="panel">
      <p>-Wakil ketua Smalixband</p>
      <p>-Staff FnB COMPFEST 12</p>
    </div>
    </li>
  
    <li>
  <a onclick="up()" class="myButton">UP</a> <a onclick="down()" class="myButton">DOWN</a>
  <!--        <button  onclick="up()" type="button" class="up_button">up</button> <button onclick="down()" type="button" class="down_button">down</button>-->
  <button class="accordion"><p><b>Prestasi</b></p></button>
  <div class="panel">
    <p>-Lomba marawis SD</p>
    <p>-Lomba DOTA 2 Tingkat sma</p>
  </div>
    </li>

    <li>
  <a onclick="up()" class="myButton">UP</a> <a onclick="down()" class="myButton">DOWN</a>
  
  <!--        <button  onclick="up()" type="button" class="up_button">up</button> <button onclick="down()" type="button" class="down_button">down</button>-->
  <button class="accordion"><p><b>Game Favorite</b></p></button>
    <div class="panel">
      <p>-Counter Strike Global Offensive</p>
      <p>-Apex Legend</p>
      <p>-DOTA 2</p>
    </div>
  </li>
</ul>
  </div>
  </div>

  <script src=" {% static 'css/accordion.js' %}"></script>
</body>
</html>
